.view--tasks {
    color: #CED4DA;
    width: 90%;
    height: 100%;
    position: relative;
    float: right;
    background-color: #495057;
    border-left: 1px black solid
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}