.taskform--gatherInfo {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    height: 70%;
    flex-direction: column;
}
.taskform--gatherInfo * {
    margin: 5px;
    border-style: none;
    background-color: #495057;
    color: #CED4DA;
}

textarea {
    height: 3rem;
}

/* .taskform--body {
    display: flex;
    width: 70%;
    justify-content:space-around;
    align-items: flex-end;
} */


.addSymbol--p {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    font: 20px Arial, Sans-serif;

}

.addTask--p {
    font: 20px Arial, Sans-Serif;
    color: grey;
}


.before--click:hover .addSymbol--p {
    color: white;
    background-color: black;
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.before--click:hover .addTask--p {
    color: black;
}

.before--click:hover {
    cursor: pointer;
}

.taskform--body {
    display: flex;
    justify-content: start;
    width: 60%;
    margin: 20px;
    height: 40%;

}

.newTask-organizers * {
    border-style: none;
    cursor: pointer;
}

.submit--cancel--btn:hover * {
    cursor: pointer;
}

.submit--cancel--btn * {
    border-style: none;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 10px;
}

.addBtn {
    color: white;
    background-color: #3F3D3D;
}

.addBtn:hover {
    background-color: black;
}

.cancelBtn:hover {
    filter: brightness(95%)
}

.task-tBox:focus {
    border: none;
    outline: none !important;
}

.text-description:focus {
    border: none;
    outline: none !important;
}

.text-description {
    height: 100%;
}


.task--form {
    width: 100%;
    height: 50%;
}
