.task--box {
    display: flex;
    justify-content:space-between;
    border: 1px;
    border-style: solid;
    margin: 10px;
    background-color: violet;
}

.task--title {
    padding: 10px;
    margin-left: 10px;
    font-size: large;
    font-weight: 500;
}